<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="fontRegistry" name="fontRegistry" schema="schema/fontRegistry.exsd"/>
   <extension
         point="at.medevit.elexis.formattedoutput.fontRegistry">
      <fontTriplet
            name="FreeSans"
            style="normal"
            weight="normal">
         <PdfRendererFontFile
               embed-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSans.ttf"
               kerning="true"
               metrics-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSans.ttf.xml">
         </PdfRendererFontFile>
         <PsRendererFontFile
               embed-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSans.pfb"
               kerning="true"></PsRendererFontFile>
      </fontTriplet>
      <fontTriplet
            name="FreeSans"
            style="normal"
            weight="bold">
         <PdfRendererFontFile
               embed-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansBold.ttf"
               kerning="true"
               metrics-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansBold.ttf.xml">
         </PdfRendererFontFile>
         <PsRendererFontFile
               embed-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansBold.pfb"
               kerning="true">
         </PsRendererFontFile>
      </fontTriplet>
      <fontTriplet
            name="FreeSans"
            style="oblique"
            weight="normal">
         <PdfRendererFontFile
               embed-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansOblique.ttf"
               kerning="true"
               metrics-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansOblique.ttf.xml">
         </PdfRendererFontFile>
         <PsRendererFontFile
               embed-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansOblique.pfb"
               kerning="true">
         </PsRendererFontFile>
      </fontTriplet>
      <fontTriplet
            name="FreeSans"
            style="oblique"
            weight="bold">
         <PdfRendererFontFile
               embed-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansBoldOblique.ttf"
               kerning="true"
               metrics-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansBoldOblique.ttf.xml">
         </PdfRendererFontFile>
         <PsRendererFontFile
               embed-url="platform:/plugin/at.medevit.elexis.formattedoutput/rsc/fonts/freefonts/FreeSansBoldOblique.pfb"
               kerning="true">
         </PsRendererFontFile>
      </fontTriplet>
   </extension>
</plugin>
