<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.befuem.ui.views.BefuemView"
            icon="icon://IMG_MAIL"
            id="at.medevit.elexis.befuem.ui.befuemView"
            name="%View_BefuemName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.medevit.elexis.befuem.ui.NetClientPreferencePage"
            id="at.medevit.elexis.befuem.ui.preferencePage"
            name="%PreferencePage_BefuemName">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.ui.FremdDatenImport">
      <importer
            Class="at.medevit.elexis.befuem.ui.importer.NetParticiantImporter"
            name="GNV Addressbuch Importer">
      </importer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.befuem.ui.commands.OpenClientFinding"
            description="View the content of the selected finding."
            id="at.medevit.elexis.befuem.ui.commands.openClientFinding"
            name="%Command_OpenName">
      </command>
      <command
            defaultHandler="at.medevit.elexis.befuem.ui.commands.SyncClient"
            description="Synchronize findings with network client."
            id="at.medevit.elexis.befuem.ui.command.syncClient"
            name="%Command_SyncName">
      </command>
      <command
            defaultHandler="at.medevit.elexis.befuem.ui.commands.ShowClientMessage"
            id="at.medevit.elexis.befuem.ui.command.openClientMessage"
            name="%Command_ShowClientMessageName">
      </command>
      <command
            defaultHandler="at.medevit.elexis.befuem.ui.commands.OpenClientImport"
            id="at.medevit.elexis.befuem.ui.command.openClientImport"
            name="%Command_ImportName">
      </command>
      <command
            defaultHandler="at.medevit.elexis.befuem.ui.commands.RefreshViewers"
            id="at.medevit.elexis.befuem.ui.command.refreshViewers"
            name="Refresh Viewers">
      </command>
      <command
            defaultHandler="at.medevit.elexis.befuem.ui.commands.ArchiveClientFinding"
            id="at.medevit.elexis.befuem.ui.command.archiveClientFinding"
            name="%Command_ArchiveName">
      </command>
      <command
            defaultHandler="at.medevit.elexis.befuem.ui.commands.SetParticipantKontakt"
            id="at.medevit.elexis.befuem.ui.command.setParticipantKontakt"
            name="Set Kontakt">
      </command>
      <command
            defaultHandler="at.medevit.elexis.befuem.ui.commands.OpenClientFindingAsPDF"
            description="View the content of the selected finding as PDF."
            id="at.medevit.elexis.befuem.ui.commands.openClientFindingAsPDF"
            name="Open as PDF">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.befuem.ui.befuemView">
         <command
               commandId="at.medevit.elexis.befuem.ui.commands.openClientFindingAsPDF"
               label="Als PDF öffnen"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="at.medevit.elexis.befuem.contextservice.finding.NetClientFinding">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:at.medevit.elexis.befuem.ui.befuemView">
         <command
               commandId="at.medevit.elexis.befuem.ui.command.syncClient"
               icon="rsc/mail_exchange.png"
               label="%MenuContrib_SyncLabel"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:at.medevit.elexis.befuem.ui.befuemView">
         <command
               commandId="at.medevit.elexis.befuem.ui.command.openClientMessage"
               label="%MenuContrib_ShowClientMessageLabel"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.befuem.ui.befuemView">
         <command
               commandId="at.medevit.elexis.befuem.ui.command.openClientImport"
               label="%MenuContrib_ImportLabel"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="at.medevit.elexis.befuem.ui.commands.visited">
                     </test>
                     <not>
                        <test
                              property="at.medevit.elexis.befuem.ui.commands.imported">
                        </test>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:at.medevit.elexis.befuem.ui.befuemView">
         <command
               commandId="at.medevit.elexis.befuem.ui.command.refreshViewers"
               icon="rsc/refresh.png"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.befuem.ui.befuemView">
         <command
               commandId="at.medevit.elexis.befuem.ui.command.archiveClientFinding"
               label="%MenuContrib_ArchiveLabel"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <not>
                        <test
                              property="at.medevit.elexis.befuem.ui.commands.archived">
                        </test>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.befuem.ui.befuemView">
         <command
               commandId="at.medevit.elexis.befuem.ui.command.setParticipantKontakt"
               label="Set Kontakt"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="at.medevit.elexis.befuem.contextservice.networkparticipant.NetworkParticipant">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.medevit.elexis.befuem.ui.commands.FindingPropertyTester"
            id="at.medevit.elexis.befuem.ui.commands.findingPropertyTester"
            namespace="at.medevit.elexis.befuem.ui.commands"
            properties="visited, imported, archived"
            type="at.medevit.elexis.befuem.contextservice.finding.AbstractFinding">
      </propertyTester>
   </extension>

</plugin>
