<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.medevit.elexis.at.rezepte.ui.RezeptausdruckPreferencePage"
            id="at.medevit.elexis.at.rezepte.ausdruck"
            name="Rezeptausdruck">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.at.rezepte.RezeptTransporter"
            icon="rsc/icons/note_edit.png"
            id="at.medevit.elexis.at.rezepte.RezeptTransporter"
            name="Vorschau"
            restorable="true">
      </view>
      <view
            class="at.medevit.elexis.at.rezepte.ui.FixMediDisplay"
            icon="rsc/icons/pill_blue.png"
            id="at.medevit.elexis.at.rezepte.ui.FixMediDisplay"
            name="Fixmedikation AT"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:at.medevit.elexis.at.rezepte.ui.FixMediDisplay">
         <command
               commandId="at.medevit.elexis.at.rezepte.commands.Einnahmeliste"
               icon="rsc/icons/note_ok.png"
               label="Einnahmeliste drucken"
               style="push">
         </command>
         <separator
               name="at.medevit.elexis.at.rezepte.separator1"
               visible="true">
         </separator>
         <command
               commandId="at.medevit.elexis.at.rezepte.commands.RezeptDrucken"
               icon="rsc/icons/note_edit.png"
               label="Rezept drucken"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.at.rezepte.commands.RezeptDruckenOOffice"
               icon="rsc/icons/note_information.png"
               label="Rezept über OpenOffice drucken"
               style="push">
         </command>
         <separator
               name="at.medevit.elexis.at.rezepte.separator2"
               visible="true">
         </separator>
         <command
               commandId="at.medevit.elexis.at.rezepte.commands.copyPrescriptionClipboard"
               icon="rsc/icons/clipboard_add.png"
               label="In Zwischenablage kopieren..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.at.rezepte.ui.FixMediDisplay">
         <command
               commandId="at.medevit.elexis.at.rezepte.commands.AddPrescription"
               icon="rsc/icons/note_add.png"
               label="Medikament verordnen"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.at.rezepte.commands.StopPrescription"
               icon="rsc/icons/note_delete.png"
               label="Medikament stoppen"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Einnahmeliste anzeigen bzw. ausdrucken"
            id="at.medevit.elexis.at.rezepte.commands.Einnahmeliste"
            name="Einnahmeliste drucken">
      </command>
      <command
            description="Rezept über OpenOffice-Plugin drucken"
            id="at.medevit.elexis.at.rezepte.commands.RezeptDruckenOOffice"
            name="Rezept drucken (Office Plugin)">
      </command>
      <command
            description="Rezept drucken"
            id="at.medevit.elexis.at.rezepte.commands.RezeptDrucken"
            name="Rezept drucken">
      </command>
      <command
            id="at.medevit.elexis.at.rezepte.commands.StopPrescription"
            name="Medikation stoppen">
      </command>
      <command
            id="at.medevit.elexis.at.rezepte.commands.AddPrescription"
            name="Medikation hinzufügen">
      </command>
      <command
            id="at.medevit.elexis.at.rezepte.commands.copyPrescriptionClipboard"
            name="In Zwischenablage kopieren">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.medevit.elexis.at.rezepte.commands.RezeptDrucken"
            commandId="at.medevit.elexis.at.rezepte.commands.RezeptDrucken">
         <enabledWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.rezepte.commands.RezeptDruckenOOffice"
            commandId="at.medevit.elexis.at.rezepte.commands.RezeptDruckenOOffice">
         <enabledWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.rezepte.commands.Einnahmeliste"
            commandId="at.medevit.elexis.at.rezepte.commands.Einnahmeliste">
         <enabledWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.rezepte.commands.StopPrescription"
            commandId="at.medevit.elexis.at.rezepte.commands.StopPrescription">
      </handler>
      <handler
            class="at.medevit.elexis.at.rezepte.commands.AddPrescription"
            commandId="at.medevit.elexis.at.rezepte.commands.AddPrescription">
      </handler>
      <handler
            class="at.medevit.elexis.at.rezepte.commands.CopyPrescriptionClipboard"
            commandId="at.medevit.elexis.at.rezepte.commands.copyPrescriptionClipboard">
         <enabledWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="at.medevit.elexis.at.rezepte.commands.RezeptDrucken"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="M1+R">
      </key>
      <key
            commandId="at.medevit.elexis.at.rezepte.commands.copyPrescriptionClipboard"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="ch.elexis.data.Prescription"
            class="at.medevit.elexis.at.rezepte.properties.PrescriptionAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="at.medevit.elexis.at.rezepte.ui.FixMediDisplay">
         <propertyCategory
               category="allgemeines"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="at.medevit.elexis.at.rezepte.ui.FixMediDisplay">
         <propertyTab
               category="allgemeines"
               id="at.medevit.elexis.at.rezepte.properties.VerschreibungTab"
               label="Verschreibung">
         </propertyTab>
         <propertyTab
               afterTab="at.medevit.elexis.at.rezepte.properties.VerschreibungTab"
               category="allgemeines"
               id="at.medevit.elexis.at.rezepte.properties.ArtikelTab"
               label="Artikel">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="at.medevit.elexis.at.rezepte.ui.FixMediDisplay">
         <propertySection
               class="at.medevit.elexis.properties.VerschreibungTabLabel"
               id="at.medevit.elexis.at.rezepte.properties.VerschreibungTab.Label"
               tab="at.medevit.elexis.at.rezepte.properties.VerschreibungTab">
            <input
                  type="ch.elexis.data.Prescription">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="ch.elexis.core.ui.Transporter">
      <Transporter
            id="at.medevit.elexis.at.rezepte.RezeptTransporter"
            name="Rezeptausgabe Formular AT"
            type="ch.elexis.data.Rezept">
      </Transporter>
   </extension>

</plugin>
